{
  "printWidth": 100,
  "arrowParens": "always",
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "proseWrap": "preserve"
}
